.SandwichControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.SandwichControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.SandwichControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.SandwichControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.SandwichControl .Remove {  
    background-color: #D39952;
    color: white;
}

.SandwichControl .Add {
    background-color: #f79f24;
    color: white;
}

.SandwichControl .Remove:hover, .SandwichControl .Remove:active {  
    background-color: #DAA972;
    color: white;
}

.SandwichControl .Add:hover,.SandwichControl .Add:active {
    background-color: #99703F;
    color: white;
}